div#img-cabecera {
    background-image: url("./fotocabecera.jpeg");
    background-position: center center;
    height: 200px;
}

h2 {
    text-align: center;
    font-family: Verdana;
    color: forestgreen;
}

h5 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0px;
}

body {
    margin: 10%, 20%, 30%, 50%;
}

.container {
    margin: 0 100px;
}

table {}

.texto-centrado {
    text-align: center;
}

dl dt {
    margin-top: 20px;
    font-weight: bold;
}

.centrado {
    text-align: center;
}